<div class="text-center py-8 px-4 lg:py-12">
  <h2 class="text-xl leading-tight font-bold tracking-tight text-gray-900 sm:text-3xl sm:leading-loose">
    Sign up for the weekly newsletter.
  </h2>
  <form class="mt-4 sm:flex justify-center" aria-labelledby="newsletter-headline" name="newsletter_subscribers" netlify>
    <input aria-label="Email address" type="email" required
      class="appearance-none w-full px-5 py-3 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:max-w-xs"
      placeholder="Enter your email">
    <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
      <button
        class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
        Subscribe
      </button>
    </div>
  </form>
</div>