<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>Three Month Startup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <!-- End fonts -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>
  <!-- End stylesheets -->

  <!-- Javascript -->
  <!-- End javascript -->
  {% feed_meta %}
  {% seo %}
</head>
