.homeContent {
  @apply text-sm;

  @screen md {
    @apply text-base;
  }
}

.homeContent a {
  @apply underline text-blue-900;
}

.progressBar {
  bottom: 0;
  width: 100%;
  height: calc(100% * 2500 / 30000);
}
