<!doctype html>
<html>
  {% include head.html %}

  <body class="font-mono bg-gray-50 min-h-screen flex flex-col">
    {% include nav.html %}
    <div class="w-full max-w-3xl mx-auto flex-grow">
      {{ content }}
    </div>
    {% include footer.html %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>

</html>