/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.progressBar {
  bottom: 0;
  width: 100%;
  height: calc(100% * 2500 / 30000);
}

.blogContent {
  @apply font-sans;
}

.blogContent ol {
  @apply list-decimal ml-8;
}

.blogContent a {
  @apply underline text-blue-900;
}

@tailwind utilities;
